@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
nav {
  flex: 1 1 50%;
  position: relative; }
  nav ul {
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 0px; }
    nav ul li {
      border-right: 1px #6A6D7C solid;
      display: inline;
      margin: 0px 0px 0px 12px;
      padding: 5px 12px 5px 0px; }
      nav ul li:last-child {
        border-right: none; }
      nav ul li a {
        color: #6A6D7C;
        font-size: 17px;
        line-height: 50px;
        text-decoration: none;
        transition: color 1s; }
        nav ul li a:hover {
          color: #720260; }

header {
  display: flex;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #FFFFFF;
  border-style: rounded;
  border-color: #FDFDFD; }
  header h1 {
    font-size: 22px;
    font-weight: bold;
    flex: 1 1 50%;
    line-height: 50px;
    margin: 0px;
    padding: 0px; }

.section1 {
  background-image: url(/intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  text-align: center;
  padding-top: 1px; }
  .section1 h2 {
    color: white;
    font-size: 4.25em;
    padding-top: 10%; }
  .section1 p {
    color: white;
    font-size: 19px; }
  .section1 a {
    color: #E6DDDD;
    font-size: 17px;
    line-height: 50px;
    text-decoration: underline;
    transition: color 1s; }
    .section1 a:hover {
      color: #C9B8B8; }

.section2 {
  background-image: url(/one.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  margin-top: -30px; }
  .section2 .whitebox {
    color: black;
    margin-left: 60%;
    background-color: white;
    position: relative;
    top: 25%; }
  .section2 h2 {
    padding-left: 19px;
    padding-top: 50px;
    padding-right: 19px;
    font-size: 2.25em; }
  .section2 p {
    padding-left: 19px;
    padding-bottom: 50px;
    padding-right: 19px;
    text-align: left; }

.section3 {
  background-image: url(/two.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  margin-top: -30px; }
  .section3 .whitebox {
    color: black;
    margin-right: 60%;
    background-color: white;
    position: relative;
    top: 25%; }
  .section3 h2 {
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 50px;
    font-size: 2.25em; }
  .section3 p {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 50px;
    text-align: left; }

.flex-container {
  display: -webkit-flex;
  display: flex;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 800px;
  margin-top: 60px;
  margin-left: 5%; }

.flex-item {
  width: 450px;
  height: 282px;
  margin-top: -10px;
  margin-left: -10px; }

.section4 .whitebox {
  color: black;
  background-color: white;
  position: relative;
  top: 25%; }

.section4 h2 {
  padding-left: 19px;
  font-size: 2.25em;
  text-align: center; }

.section4 p {
  padding-left: 19px;
  text-align: center; }

.icon-facebook2:before {
  content: "\ea91"; }

body {
  margin: 0px;
  padding: 25px 0px 0px 0px;
  font-family: 'Source Sans Pro', sans-serif; }
