$links: #6A6D7C;
$hover: #720260;
nav {
    flex: 1 1 50%;
    position: relative;
    ul{
        margin: 0px;
        padding: 0px;
        position: absolute;
        right: 0px;
        li{
            border-right: 1px $links solid;
            display: inline;
            margin: 0px 0px 0px 12px;
            padding: 5px 12px 5px 0px;
            &:last-child {
                border-right: none;
            }
            a{
                color: $links;
                font-size: 17px;
                line-height: 50px;
                text-decoration: none;
                transition: color 1s;
                &:hover {
                    color: $hover;
                }
            }
        }
    }
}