$links: #E6DDDD;
$hover: #C9B8B8;

.section1 {
  background-image: url(/intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  text-align: center;
  padding-top: 1px;
  
  h2 {
    color: white;
    font-size: 4.25em;
    padding-top: 10%;
  }
  
  p {
    color: white;
    font-size: 19px;
  }
  
  a{
    color: $links;
    font-size: 17px;
    line-height: 50px;
    text-decoration: underline;
    transition: color 1s;
    &:hover {
        color: $hover;
    } 
  }
}